
/*--------------------------------------------------------------
## Body 
--------------------------------------------------------------*/
$color__background-body: #fff;
$color__text-body: #554b4a;

/*--------------------------------------------------------------
## Headers
--------------------------------------------------------------*/
$color__background-page-header:#fff;

/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/
$color__text-breadcrumbs:#867e79;
/*--------------------------------------------------------------
## Heading ( h1,h2,h3,h4,h5,h6)
--------------------------------------------------------------*/
$color__text-heading: #867e79;

/*--------------------------------------------------------------
## Main Menu
--------------------------------------------------------------*/
$color__text-menu-item-a:#554b4a;
$color__text-menu-item-a-hover:#e80100;
$color__border-submenu:#13aff0;

/*--------------------------------------------------------------
## Paragraph
--------------------------------------------------------------*/
$color__text-paragraph: #121212;
