body.home{
    position: relative;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f7e8d0;
    @media screen and (min-width:992px){
        background: #f7e8d0 url(assets/images/body-bg.png) top center repeat-x;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            max-width: 1200px;
            height: 213px;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            background: url(assets/images/header-bg.png) top center no-repeat;
            z-index: -1;
            /*border: 1px solid #000;*/
        }
    }
    header.site-header{
        height:auto;
        @media screen and (min-width:992px){
            /*height: 265px;*/
        }
        .custom-logo-link{
            /* border: 1px solid #f00; */
            display: inline-block;
            position: absolute;
            top: 4px;
            max-width: 60px;
            height: auto;
            transition: all 1s;
            left: 4px;
            @media screen and (min-width:992px){
                max-width:100px;
            }
            img{
                border-radius: 17%;
            }
        }
        nav.main-navigation{
            background: url('assets/images/main-menu.png') repeat;
            width: 232px;
            margin-right: 68px;
            height: 52px;
            a{
                display: block;
                padding: 1em .8em;
                font-size: 14px;
                text-decoration: none;
                line-height: 1.3em;
                color: #44120b;
                font-weight: bold;
                &:hover{
                    color: #b61905;
                    background-color: #fff;
                    /*border-radius: 17px;*/
                }
            }
        }
    }
    div.site-content{
        padding-top: 45px;
        /*background: #fff;*/
        h1.page-title{
            float: none;
            margin: 0px 0 17px;
            text-align: center;
            color: #321a0a;
            font-weight: normal;
            font-size: 25px;
            font-family: Georgia, sans-serif;
        }
        main.site-main{
            background-color: #fff;
            padding-top: 5px;
            margin-top: 20px;
            @media screen and (min-width:992px){
                width:980px;
                margin:0 auto;
            }
        }
        div.button-group{
            text-align: center;
            margin:5px 0;
            background-color: #fff;
            transition: all 0.7s;
            button.button{
                i{
                    margin-right: 5px;
                }
            }
            button.button.is-checked{
                background-color: #e0caa6;
            }
            button.button{
                display: inline-block;
                margin: 0 5px 10px;
                padding: 0;
                border: 1px solid #e0caa6;
                background-color: #fff;
                min-width: 150px;
                min-height: 50px;
                font-size: 1em;
                cursor: pointer;
                &:hover{
                    background-color: #e0caa6;
                }
            }
            div.collapse-container{
                text-align: center;
                padding-right: 20px;
                background-color: transparent;
                width: 45px;
                height: 40px;
                position: absolute;
                right: 15px;
                font-size: 30px;
                padding: 0;
                display: none;
                line-height: 40px;
                /*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);*/
                border-bottom-left-radius: 50%;
                bottom: -40px;
                @media screen and(min-width:992px){
                    /*display: none!important;*/
                }
                > span.open{
                    width: 23px;
                    &:after{
                        width: 14px;
                    }

                }
                > span{
                    top: 50%;
                    display: block;
                    margin-top: -2px;
                    width: 38px;
                    background-color: #000;
                    height: 2px;
                    position: absolute;
                    right: 0;

                    transition: width .5s;
                    &:after, &:before{
                        position: absolute;
                        width: 38px;
                        height: 2px;
                        border-radius: 4px;
                        background-color: #000;
                        content: '';
                        right: 0;
                    }
                    &:before{
                        bottom: 10px;
                    }
                    &:after{
                        bottom: -10px;
                        transition: width .7s;
                    }
                }

            }
            div.collapse-container.show{
                display: block;
            }
        }
        div.button-group.closed{
            transform: translateY(0%);
            transition: all 0.5s;
        }
        div.menu-card-wrapper.scolled{
            /*padding-top: 194px;*/
            margin-top: 177px;

        }
        div.menu-card-wrapper.onarrange{
            /*padding-top: 296px;*/
            margin-top: 300px;
        }
        div.menu-card-wrapper{
            position: relative;
            margin: 25px 0;
            padding-bottom: 20px;
            overflow: hidden;
            background: #fff;
            width: 96%;
            padding-left: 10px;
            div.menu-card{
                /*border: 1px solid #0f0;*/
                div.col-menu{
                    min-width: 100%;
                    .parent-cat-title{
                        padding: 12px 20px;
                        margin-bottom: 30px;
                        background: #f3e9d8;
                        font-size: 18px;
                        color: #321a0a;
                        font-family: Georgia, sans-serif;
                    }
                    .child-cat-title{
                        position: relative;
                        background: none;
                        padding-left: 0;
                        font-size: 18px;
                        color: #321a0a;
                        font-family: Georgia, sans-serif;
                        @media screen and (min-width:992px){
                            font-size:20px;
                        }
                        &:before{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            margin-top: -1px;
                            background: #f3e9d8;
                        }

                        span{
                            position: relative;
                            z-index: 1;
                            padding-right: 15px;
                            background: #fff;
                        }
                    }
                    .child-cat-deep-title{
                        font-size: 15px;
                        /* border: 1px solid #f00; */
                        margin: 28px auto 10px;
                        padding-left: 23px;
                        color: #321a0a;
                        font-weight: 400;
                    }

                }
                div.aliment-details-wrapper{
                    /*background-color: #f00;*/
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin: 5px auto;

                    div.aliment-details{
                        margin: 50px auto;
                        /*background-color: #c5c523;*/
                        /*width: 200px;*/
                        margin: 0 auto;
                        text-align: center;
                        /*border: 1px solid #00F;*/
                        float: none;
                        /*min-height: 150px;*/
                        @media screen and (min-width:600px){
                            width:600px;
                        }
                        div.desc{
                            /*background-color: #f0f;*/
                            margin-bottom: 26px;

                            img{
                                max-width: 90px;
                                height: auto;
                                /*float: left;*/
                                /*margin-right: 10px;*/
                            }
                            div.txt{
                                background-color: #fff;
                                text-align: left;
                                padding-left: 10px;
                                span.aliment-title{
                                    margin-bottom: 8px;
                                    color: #ba1400;
                                    font-size: 16px;
                                    line-height: 1.2;
                                    display: block;

                                }
                                p{
                                    display: inline-block;
                                    /* max-height: 56px; */
                                    overflow: hidden;
                                    color: #534841;
                                    font-family: Arial, Helvetica, sans-serif;
                                    text-align: left;
                                    line-height: 1.4;
                                    font-size: 13px;
                                }
                                span.aliment-price{
                                    position: relative;
                                    display: inline-block;
                                    width: 100%;
                                    text-align: right;
                                    background: url(assets/images/price-dot.gif) repeat-x 0 10px;
                                    span.amount{
                                        position: relative;
                                        top: -3px;
                                        margin: 0;
                                        padding: 0;
                                        background: #fff;
                                        color: #322822;
                                        font-size: 18px;
                                        line-height: 1;
                                        font-family: Georgia, serif;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sticky-menu-nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        z-index: 9999;
        margin: 0 auto!important;
        padding-top: 20px;
        padding-bottom: 20px;
        /*animation:slide-down 0.7s;*/
        transform: translateY(-96%);
        @media screen and (min-width:992px){
            transform: translateY(0);
        }
    }
    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 0.9;
            transform: translateY(0);
        }
    }


    footer.site-footer{
        padding: 2rem;
        width: 100%;
        clear: both;
        /* margin-top: 7px; */
        /*border-bottom: 8px solid #801101;*/
        background: #9c1400;
        color: #fff;
        div.commande-wrapper{
            width: 100%;
            margin: 0 auto;
            background-color: #801101;
            padding-top: 20px;
            padding-bottom: 20px;
            padding: 20px;
            @media screen and (min-width:992px){
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h5{
                text-align: center;
                @media screen and (min-width:992px){
                    display:none;
                }
            }
        }
        ul.phone-numbers{
            list-style-type: none;
            /*border: 1px solid;*/
            text-align: center;
            margin: 0 auto;
            @media screen and (min-width:992px){
                height: 40px;
                line-height: 40px;
            }
            li{
                margin-bottom: 20px;
                @media screen and (min-width:992px){
                    margin-right: 20px;
                    float: left;
                }
                a{
                    color: #fff;

                    i.fa{
                        font-size:20px;
                    }
                    span.phone-number{
                        font-size: 20px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    a.scrollup{
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 16px;
        right: 15px;
        background-color: #000;
        /* opacity: .5; */
        display: none;
        border-radius: 50%;
        text-align: center;
        /* padding: 13px 0 0 0; */
        /* color: #fff; */
        z-index: 99;
        line-height: 50px;
        font-size: 40px;
        @media screen and(min-height:992px){
            bottom: 50px;
            right: 10px;
        }

        &:hover{
            /*background-color: hsla(0, 0%, 82%, 1);*/
        }

        &:visited{
            color: #fff;
        }

        > i {
            color: #fff;
        }
    }
    form.search-form{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: transparent;
        /* height: 45px; */
        width: 225px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        a.btn{
            height: 44px;
            width: 50px;
            font-size: 25px;
            border: 1px solid #fff;
            border-radius: 0px;
            background-color: #fff;
            color: #000;
            display: none;
            span.ion-android-search{
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                background-color: transparent;
                /* height: 45px; */
                width: 225px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        #myInput {
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 0px;
            /* margin: 0 auto; */
            /* position: absolute; */
            /* right: 0; */
            /* left: 0; */
            /* margin-top: 5px; */
            height: 38px;
            /* border-radius: 20px; */
            /* float: left; */
            width: 158px;
            height: 44px;
            border: none;
            /* border-right-style: none; */
            border-radius: 0;
        }
    }
    div.search-result{
        position: fixed;
        top: 56px;
        bottom: 0;
        width: 100%;
        height: auto;
        background-color: #ffffff;
        overflow-x: hidden;
        overflow-y: scroll;
        min-height: 100%;
        z-index: 99;
        /* transform: translateY(-156px); */
        animation: slidedown 1s;
        margin: 0 auto;
        padding: 10px;
        padding-bottom:24px;
        padding-top: 10px;
        > div.row{
            height: 90%;
            overflow-y: scroll;
            box-shadow: 1px 1px 2px #000;
            padding: 5px 10px;
            border: 1px solid #FFF;
        }
        span.ionicon{
            float: right;
            font-size: 30px;
            color: #000;
            margin-right: 10px;
            padding: 5px 10px;
        }

        div.desc{
            margin-bottom: 10px;
            padding: 16px;
            border-radius: 6px;
            border:1px solid #e0caa6;
            div.txt{
                p{
                    margin-bottom: 0px;
                    margin-bottom: 12px;
                    font-size: 12px;
                }
                span.aliment-title{
                    font-size: 15px;
                    font-weight: 500;
                } 
                span.aliment-price{
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    text-align: right;
                    background: url(assets/images/price-dot.gif) repeat-x 0 10px;
                    span.amount{
                        position: relative;
                        top: -3px;
                        margin: 0;
                        padding: 0;
                        background: #fff;
                        color: #322822;
                        font-size: 18px;
                        line-height: 1;
                        font-family: Georgia, serif;
                    }
                }                
            }

        }



    }
    div.search-result.slideUp{
        transform: translateY(-156px);
    }
    @keyframes slidedown {
        0% {
            opacity: 0;
            transform: translateY(-156px);
        }
        100% {
            opacity: 0.9;
            transform: translateY(0);
        }
    }
}